<% if alert %>
  <div class="alert alert-danger"><%= alert %></div>
<% end %>
<div class="container-md mt-lg-4">
  <div class="card">
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col fs-2"><%= @question.title %></div>
          <%= link_to "#{@user.name + ' ' + @user.surname}", user_path(@user.id), class: 'col text-end' %>
          <p class="mt-4"><%= @question.text %></p>
        </div>
      </div>
      <div class="container-md">
        <% if current_user.id == @question.user_id || current_user.admin? %>
          <div class="row">
            <div class="col text-md-start">
              <%= button_to "Edit", edit_category_question_url(@question), class: 'col btn btn-success' %>
            </div>
            <div class="col text-md-end">
              <%= button_to "Delete", category_question_path(@question), method: :delete, class: 'col btn btn-danger'%>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="my-5">
    <h2 class="fs-2 fw-bold"><%= pluralize(@question.comments.size-1, 'comment') %></h2>
  </div>
  <% @comments.each do |comment| %>
    <% if comment.id != nil && comment.question_id == @question.id %>
      <div class="card my-3">
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col my-1 mb-3"><%= comment.text %></div>
              <% user = @users.find_by(id: comment.user_id) %>
                <% if user.doctor? %>
                    <p style="color: darkred" class="text-md-end">Doctor</p>
                <% end %>
                <%= link_to "#{user.name + ' ' + user.surname}", user_path(comment.user_id), class: 'col text-end' %>
            </div>
            <p class="font-monospace"><%= comment.created_at.strftime("%H:%M %d-%m-%Y") %></p>
          </div>
          <% if comment.user_id == current_user.id || current_user.admin?%>
            <div class="container-md">
              <div class="row">
                <div class="col text-md-end">
                  <td><%= link_to "Destroy", category_question_comment_url(@question, comment), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></td>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>

  <%= render 'comments/form', question: @question, comment: @comment %>
</div>

