<%= form_with(model: [category, question, comment]) do |form| %>
  <% if comment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% comment.errors.each do |error| %>
          <li class="alert-danger"><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :text, "Reply", class: 'form-label fw-bolder fs-4' %>
    <%= form.text_area :text, class: "form-control mb-2", placeholder: 'Type a response' %>
  </div>

  <div>
    <%= form.submit class: 'btn btn-success' %>
  </div>
<% end %>
