<%= form_with(model: category) do |form| %>
  <% if category.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% form.hidden_field :user_id, value: current_user.id %>

  <div class="field">
    <%= form.label :title, "Title", class: 'form-label fw-bolder fs-4' %>
    <%= form.text_area :title, class: "form-control mb-2", placeholder: 'Type a response' %>
  </div>

  <div class="field">
    <%= form.label :description, "Description", class: 'form-label fw-bolder fs-4' %>
    <%= form.text_area :description, class: "form-control mb-2", placeholder: 'Type a response' %>
  </div>

  <div>
    <%= form.submit 'Submit', class: 'btn btn-primary mt-2' %>
  </div>


  <div class="card" style="width: 18rem;">
    <div class="card-body">
      h5*2
    </div>
  </div>  
<% end %>
